@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Tangerine", cursive;
}

body {
  background-image: url("background.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
  background-blend-mode: luminosity;
  font-size: 1.5em;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.quote-box {
  background-color: rgb(255, 255, 255);
  max-width: 70vh;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(255, 255, 255);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 1.5rem;
  gap: 1rem;
  background-image: url("./quotes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  font-size: 1.5em;
  padding: 1.2rem 2rem 1rem 2rem;
  color: rgb(165, 42, 42);
  cursor: pointer;
  outline: none;
}

.quote-text {
  font-size: 1.5em;
}

img {
  margin-top: -1rem;
}

.quote-autor {
  justify-self: right;
  font-weight: bold;
  font-size: 2em;
  color: rgb(165, 42, 42);
}
