@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-color: #000000;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 1fr;
  gap: 3rem;
  text-align: center;
  min-height: 100vh;
  padding: 3rem;
}

#title {
  color: #008f11;
}

#title a {
  text-decoration: none;
  color: #008f11;
}

.projects {
  display: grid;
  grid-template-rows: repeat(10, min-content);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
}

.project {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  justify-self: center;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #008f11;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: .2;
}
