*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  background-image: url("background.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e004c;
  text-align: center;
  color: white;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content) max-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}

.title {
  text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
  font-size: 2rem;
}

.controls {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  font-size: 1rem;
  justify-content: center;
  gap: 1rem;
}

.spacing,
.blur,
.overlay {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, min-content);
  gap: 1rem;
  align-items: center;
}

.return {
  text-align: center;
  font-size: 18px;
  position: absolute;
  text-decoration: none;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 10px 0px rgb(9, 32, 63);
  outline: none;
  background: linear-gradient(
    0deg,
    rgba(9, 32, 63, 1) 0%,
    rgba(15, 50, 97, 1) 100%
  );
}

.return:hover {
  background: linear-gradient(
    0deg,
    rgba(83, 120, 149, 1) 0%,
    rgba(109, 157, 194, 1) 100%
  );
  box-shadow: 2px 2px 15px 0px rgb(83, 120, 149);
}

/* Variables */
:root {
  --base: #d37272;
  --spacing: 10px;
  --blur: 10px;
}

.img {
  background: var(--base);
}

img {
  padding: 10px var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.highlight {
  color: var(--base);
}
