:root {
  --base: #d37272;
  --spacing: 10px;
  --blur: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(46, 0, 76);
  text-align: center;
  color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content) max-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}

.title {
  text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
  font-size: 2rem;
}

.controls {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  font-size: 1rem;
  justify-content: center;
  gap: 1rem;
}

.spacing,
.blur,
.overlay {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, min-content);
  gap: 1rem;
  align-items: center;
}

.img {
  background: var(--base);
}

img {
  padding: 10px var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.highlight {
  color: var(--base);
}
