*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  background-image: url("background.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(15, 15, 201);
  background-blend-mode: screen;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px rgb(239, 239, 239),
    inset 0 0 10px rgb(0, 0, 0), 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-inside {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.pointer {
  width: 50%;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.41, 2.04);
}

.pointer-hour {
  height: 16px;
  background-color: rgba(0, 0, 0, 0.7);
}
.pointer-minute {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}
.pointer-second {
  height: 4px;
}
