:root {
  --color-primary: rgb(0, 143, 17);
  --color-primary-dark: rgb(0, 59, 0);
  --color-secundary: rgb(0, 255, 65);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all 0.2s;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.player {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
  min-width: 400px;
}

.player__current-artist,
.player__playlist-name {
  opacity: 0.5;
  font-size: 0.9rem;
}

.player__playlist {
  text-align: right;
}

.player__progress-container {
  background: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 10px;
  width: 100%;
  grid-column: 1/3;
  box-shadow: 0 0 20px var(--color-white);
}

.player__progress {
  background-color: var(--color-primary);
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
  box-shadow: 0px 0px 20px var(--color-primary);
}

.player__controls {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 2rem;
}

.player__prev,
.player__next {
  height: 25px;
}

.player__play {
  height: 40px;
  width: 40px;
}

img {
  cursor: pointer;
  filter: drop-shadow(0 0 5px var(--color-primary));
  transition: all 0.2s;
}

img:hover {
  filter: drop-shadow(0 0 10px var(--color-primary));
}

img:active {
  filter: drop-shadow(0 0 0 var(--color-primary));
}

.active {
  content: url("img/pause.png");
}
