*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: radial-gradient(rgb(8, 8, 255), rgb(15, 15, 97));
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.calc-box {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(6, min-content);
  min-height: 50vh;
  min-width: 500px;
  background-color: rgb(255, 255, 0);
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(255, 255, 0);
  padding: 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
}

.first-number {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 1px solid rgb(225, 225, 13);
}

.second-number {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 1px solid rgb(225, 225, 13);
}

.input {
  align-self: stretch;
  width: 70px;
  font-size: 1em;
  text-align: center;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  background-color: rgb(8, 8, 255);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(88, 88, 255);
}

.answer {
  grid-column: 1/7;
  justify-self: center;
  font-size: 2em;
}
