*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
  background-blend-mode: overlay, overlay, difference, difference, color-burn,
    exclusion;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  align-content: center;
  padding: 3rem;
  gap: 1rem;
  text-align: center;
}

.bands {
  list-style: inside square;
  font-size: 1rem;
  background: transparent;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 143, 17, 0.1);
  color: rgb(255, 255, 255);
}

.bands li {
  border-bottom: 1px solid rgb(239, 239, 239);
  padding: 1rem;
}

.bands li:last-child {
  border-bottom: 0;
}
