@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-primary: rgb(210, 133, 0, 0.8);
  --color-primary-dark: rgb(2, 2, 0, 0.8);
  --color-white: rgb(255, 255, 255);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("background.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-white);
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.game__container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  color: var(--color-white);
  min-width: 50vw;
}

.game__titles {
  border-radius: 20px 20px 0 0;
  background-color: var(--color-primary);
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 3rem;
}

.game__correct-answer {
  font-size: 4rem;
}

.game__answers {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  padding: 3rem;
  gap: 1rem;
  background-color: var(--color-primary-dark);
  border-radius: 0 0 20px 20px;
}

.answer {
  height: 150px;
  width: 150px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-white);
  border-radius: 20px;
  cursor: pointer;
}

.overlay {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  visibility: hidden;
}

.popup {
  background-color: var(--color-primary);
  padding: 3rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 20px;
  gap: 1rem;
  text-align: center;
}

.popup__answer {
  background-color: var(--color-white);
  border-radius: 20px;
  height: 50px;
  width: 200px;
}
