@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Kanit", sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.weather-box {
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  gap: 2rem;
  font-size: 2em;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.btn {
  grid-column: 1/4;
  height: 2rem;
  background-color: rgb(173, 216, 230);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(173, 216, 230);
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(173, 216, 230, 0.468);
  box-shadow: 0px 0px 10px rgb(173, 255, 230);
}

.current-weather-img {
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
  height: 5rem;
  display: none;
}

.current-weather-text {
  grid-column: 1/4;
  text-transform: capitalize;
}

.temp {
  grid-column: 1/4;
  font-size: 4em;
}
