:root {
  --color-primary: ;
  --color-secundary: ;
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  background-image: url("background.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-rows: min-content;
  min-height: 100vh;
  align-content: center;
}
