@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 255, 255);
}

body * {
  font-family: "Parisienne", cursive;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.container__text {
  font-size: 2em;
  text-align: center;
}

.box {
  min-height: 18rem;
  min-width: 30vw;
  display: grid;
  grid-template-rows: min-content;
  box-shadow: 0px 0px 20px rgb(169, 169, 169);
  background-color: transparent;
  border-radius: 7px;
}

.box__header {
  padding: 1rem 0;
  background-color: rgb(169, 169, 169);
  display: grid;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.5em;
  border-radius: 7px 7px 0 0;
}

.box__body {
  background-color: rgb(211, 211, 211);
  padding-left: 2rem;
  padding-top: 2rem;
  font-size: 1.2em;
  border-radius: 0 0 7px 7px;
}

.btn {
  border: none;
  border-radius: 2px;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1.1rem 1rem 1rem 1rem;
  background-color: rgb(255, 255, 255);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
