@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(25, 3, 40);
  background-blend-mode: saturation;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: min-content;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.app {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.708);
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(120, 22, 206);
  font-size: 1.2em;
}

.title {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  padding: 3rem;
  background-color: rgb(120, 22, 206);
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  border-radius: 5px 5px 0 0;
}

.ranges {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding: 0 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.5rem;
  background: rgb(211, 211, 211);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(120, 22, 206);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: rgb(120, 22, 206);
  cursor: pointer;
  border-radius: 50%;
}

.rate {
  margin-bottom: 1rem;
}

#voices {
  margin: 0 1rem;
  font-size: 1em;
}

#text {
  margin: 0 1rem;
  font-size: 1em;
}

.btns {
  margin: 0 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(120, 22, 206);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(120, 22, 206);
  text-transform: uppercase;
  font-family: "Dancing Script", cursive;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgba(120, 22, 206, 0.653);
  box-shadow: 0 0 30px rgba(120, 22, 206, 0.653);
}

.btn:active {
  transform: scale(0.95);
}
